
* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    font-size: 2em;
    color: #808080
}
.hey{
	font-size: 1.5em;
	margin-top: 10px;
	color: #808080
}
.navbar-toggle{
	margin-top: 25px;
}

section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
}

section h3 {
    font-size: 1.5em;
    color: #ffffff
}

section p {
    padding: 0 6px 4px 6px;
    font-size: 1.2em
}
.text-center {
	margin-bottom: 30px
}
.navbar-header{
	height: 80px
}
.navbar-collapse{
	font-size: 1.2em
}